<div class="card md-whiteframe-1dp" ng-class="{revealed: card.revealed, team1: card.team == 1, team2: card.team == 2, neutral: card.team == 0, spy: card.team == 3, 'md-whiteframe-6dp': !hover && !card.revealed, you: player.team == card.team}" layout="column" layout-align="center center" ng-click="CardClicked(card);" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
	<div class="cardName" ng-bind="card.word"></div>
</div>