body {
	font-family: 'Oswald', sans-serif;
	font-size: 2vmin;
}

h1, h2, h3, h4 {
	font-family: 'Amatic SC', cursive;
	margin: .3em 0em;
}

.section {
	margin: 10 0px;
	border-bottom: 1px solid gray;
}

.gameNewAlert {
	color: white;
	background-color: red;
	margin: .5em;
	min-width: 8em;
	height: 90%;
	border: 2px dasehd white;
}

.gameNewComputer {
	color: white;
	background-color: grey;
	margin: .5em;
	min-width: 8em;
	height: 100%;
}

.cardGrid {
	margin: 1em;
	padding: 1em;
	transition: 0.5s ease-out;
}

.cardName {
	font-family: 'Amatic SC', cursive;
	font-size: 1.3em;
	font-size: 4.5vmin;
	font-weight: bolder;
	text-align: center;
}

.revealed .cardName {
    text-decoration: line-through;
}

.card.revealed {
	transform: rotate(-5deg);
	border: 2px solid white;
}

.revealed.team1, .cardMaster .team1, .team1 {
	background-color: #00A1CB;
	color: white;
}

.revealed.team2, .cardMaster .team2, .team2 {
	background-color: #E54028;
	color: white;
}

.revealed.neutral, .cardMaster .neutral {
//	background-color: #F18D05;
	background-color: #ddd;
	color: white;
}

.revealed.spy, .cardMaster .spy {
	background-color: #616161;
	background-color: #3B3B3D;
	color: red;
}

.card.revealed.spy, .cardMaster .card.spy {
	font-size: 1.5em;
}

.cardMaster.you, .cardMaster.revealed.you {
	border: 2px dashed;
}

.card {
	width: 100px;
	width: 18vw;
	height: 100px;
	height: 15vmin;
	margin: 5px;
	background-color: #eee;
	background-color: #61AE24;
	background-color: #98C73D;
	background-color: #fafafa;
	color: black;
	
	transition: 0.2s ease-out;
	border: 2px solid #666;
}

.tipRemain {
	font-size: larger;
}

.tipBox {
	margin: 1em;
	padding: 1em;
	border: 10px double;
	font-size: 4vmin;
}

.tipWord {
	font-style: italic;
	font-size: 4vmin;
}

.player {
	display: inline-block;
}

.playerSheet {
	padding: 1em;
	margin: 5px;
	min-width: 8em;
	background-color: #fafafa;
	text-align: center;
}

.playerSheet.you {
	border: 2px dashed;
}

.playerID {
	font-size: smaller;
	font-style: italic;
}

.playerStatus {
	font-style: italic;
}

.playerName {
	font-family: 'Amatic SC', cursive;
	font-size: xx-large;
}

.teamBadge {
	display: inline-flex;
	width: 3vmin;
	height: 3vmin;
	font-size: 3vmin;
	margin: 0.25em;
	font
}

.playerTeam {
	border: 2px solid;
	margin: 1em;
	height: 90%;
}

.teamTitle {
	width: 100%;
	text-align: center;
}

.header {
	background-color: #3B3B3D;
	color: white;
}

.headerBlock {
	margin: 10px;
	min-width: 10em;
}

.GameNewOption:hover {
	background-color: #eee;
	transition: 0.5s ease-out;
}

.legend {
	font-size: smaller;
	font-style: italic;
}

.shake {
  animation: shake 400ms ease-in-out;
}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.score {
	display: inline-block;
}

.scoreCritical {
	color: red;
	animation: scoreCriticalKeys 0.75s infinite; 
}

@keyframes scoreCriticalKeys {
  0%    { transform:scale(1); }
  25%     { transform:scale(2); }
  75%     { transform:scale(1); }
}

html button, html input, html select, html textarea, html .md-button {
	font-family: 'Amatic SC', cursive;
	font-size: 3vmax;
	line-height: 4vmax;
}