<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CodeNames</title>
		
		<!-- Libraries -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC">
		
		<link rel="stylesheet" type="text/css" href="codename.css" />
	</head>
	<body ng-app="cn" ng-controller="cnGame">
		<div class="header" layout="row" layout-align="center center">
			<h1><div class="fa fa-envelope-o"></div> CodeNames</h1>
		</div>

		<!-- Welcome --><!--
		<div class="section" layout="row">
			<div>Codenames is a deduction game.</div>
		</div>
		 -->

		<!-- New Game -->
		<div class="section" layout-gt-md="row" layout="column" >
			<div class="GameNewOption" layout="column" layout-align="start center">
				<div class="fa fa-5x fa-user"></div>
				<md-input-container>
					<label>Your Name</label>
					<input ng-model="data.player.name">
				</md-input-container>
				<div class="data.player.playerID" ng-bind="player.playerID"></div>
			</div>
		
			<div class="GameNewOption" flex>
				<h2>Create Game</h2>
				<div layout="column">
					<md-input-container>
						<label>Language</label>
						<md-select ng-model="data.language">
							<md-option ng-repeat="(language, languageString) in languages" value="{{language}}">{{languageString}}</md-option>
						</md-select>
					</md-input-container>
					
					<md-input-container flex>
						<label>Game Mode</label>
						<md-select ng-model="data.gameMode" flex>
							<md-option value="4p" flex>4 players</md-option>
							<md-option value="3p2master" flex>3 players - 2 masters</md-option>
							<md-option value="3p1master" flex>3 players - 1 master</md-option>
							<md-option value="2p" flex>2 players - cooperative</md-option>
						</md-select>
					</md-input-container>
					
					<div layout="row">
						<md-switch ng-model="data.allowUnlimitedTips" aria-label="Allow Unlimited Tips">Allow Unlimited Tips</md-switch>
  
						<md-switch ng-model="data.allowZeroTips" aria-label="Allow Zero Tips">Allow Zero Tips</md-switch>
					</div>
					
					<md-button ng-disabled="data.player.playerID === undefined" ng-click="GameCreate();SideNav();" class="md-primary md-raised">Create Game</md-button>
				</div>
			</div>
		
			<div class="GameNewOption" flex>
				<h2>Join Game</h2>
				<div layout="column">
					<md-input-container>
						<label>Peer ID</label>
						<input ng-model="data.peerID">
					</md-input-container>
					<md-button ng-click="GameJoin();SideNav();" ng-disabled="data.player.playerID === undefined || data.peerID === undefined || data.peerID === ''" class="md-accent md-raised">Join Game</md-button>
				</div>
				
				<!-- QRCode -->
				<div layout="column" layout-align="center center" ng-if="game.stage == 'waitPlayers'">
					<h2>Ask your friends to join this game</h2>
					<div ng-bind="data.url"></div>
					<qrcode data="{{data.url}}" size="250"></qrcode>
				</div>
			</div>
		</div>
	
		<!-- Players -->
		<div class="section" layout="column" layout-align="center center" ng-if="game.stage !== undefined && game.stage !== ''" flex>
			<h2>Players</h2>
			
			<div layout="row" layout-align="center start" flex>
				<div ng-repeat="team in [1, 2]"class="playerTeam" layout="column" layout-align="start center" flex>
					<div class="{{'team' + team}} teamTitle">Team</div>
					<div layout="row" layout-align="center start">
						<div class="playerSheet" ng-class="{you: data.player.playerID == player.playerID}" ng-repeat="player in game.players | toArray | filter:{team: team}" flex>
						
							<div layout="row" layout-align="center center" flex>
								<cn-player player="player"></cn-player>
								<span class="playerName" ng-bind="player.name"></span>
							</div>
							<div class="playerID" ng-bind="player.playerID"></div>
							
							<div ng-if="player.ready" layout="column" layout-align="center center">
								<div class="playerStatus">Ready</div>
							</div>
							<div ng-if="!player.ready" layout="column" layout-align="center center">
								<div class="playerStatus">Waiting</div>
								<md-button ng-if="data.player.playerID == player.playerID && !(game.gameMode == '2p' || game.gameMode == '3p1master')" ng-click="PlayerChangeSwapTeam();" class="md-raised md-accent">Change Team</md-button>
								<md-button ng-if="data.player.playerID == player.playerID" ng-click="PlayerChangeSwapRole();" class="md-raised md-accent">Change Role</md-button>
								<md-button ng-if="data.player.playerID == player.playerID" ng-click="PlayerReady();" class="md-raised md-primary">Ready</md-button>
							</div>
						</div>
						
						<div ng-if="!PlayerTypeExist(true, team) && !((game.gameMode == '2p' || game.gameMode == '3p1master') && team == 2);" class="gameNewAlert" layout="column" layout-align="center center">Master missing</div>
						<div ng-if="!PlayerTypeExist(false, team) && !((game.gameMode == '2p' || game.gameMode == '3p1master') && team == 2);" class="gameNewAlert" layout="column" layout-align="center center">Player missing</div>						
						<div ng-if="((game.gameMode == '2p' || game.gameMode == '3p1master') && team == 2)" class="gameNewComputer" layout="column" layout-align="center center">Computer player</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Game -->
		<div class="section" ng-show="data.forceShowGame || game.stage == 'guess' || game.stage == 'tip'" layout-align="center center">
			<!-- Header -->
			<div layout="row" layout-align="center center" flex>
				<div class="headerBlock">
					<h3>Missing Cards</h3>
					 <div layout="row" layout-align="space-around stretch" flex>
						<div flex><cn-team-badge team="1"></cn-team-badge> <div class="score" ng-bind="game.qtyCards[1] - game.score[1]" ng-class="{scoreCritical: game.qtyCards[2] - game.score[2] < 2}"></div></div> 
						<div flex><cn-team-badge team="2"></cn-team-badge> <div class="score" ng-bind="game.qtyCards[2] - game.score[2]" ng-class="{scoreCritical: game.qtyCards[2] - game.score[2] < 2}"></div></div>
					</div>
				</div>
				<div class="headerBlock">
					<h3>Turn</h3>
					<cn-team-badge team="game.team"><div ng-show="game.stage == 'tip'" class="fa fa-star"></div><div ng-show="game.stage == 'guess'" class="fa fa-user"></div></cn-team-badge>
				</div>
			</div>
			
			<!-- CARDS -->
			<div class="cardGrid" ng-class="{cardMaster: data.player.master}" layout="column" layout-align="center center">
				<div class="cardRow" ng-repeat="row in [0,1,2,3,4]" layout="row" layout-align="center center">
					<cn-card ng-repeat="card in game.cards | orderBy:'word' | pager:row" card="card" player="data.player" callback="DecisionCardSelect(param1)"></cn-card>
				</div>
			</div>
			
			<!-- Legends -->
			<div layout="column" class="legend">
				<cn-legend layout="row" layout-align="space-around stretch"></cn-legend>
			</div>
			
			<!-- TipBox -->
			<div class="tipBox team{{game.team}}" ng-show="game.stage == 'guess'" layout="column" layout-align="center center">
				<h3><div class="fa fa-bulleye"></div> Guess</h3>
				<div><span class="tipWord" ng-bind="game.tip.tip"></span></div>
				<div ng-if="!game.tip.unlimited">Remainnig guesses: <span class="tipRemain" ng-bind="game.tip.remain"></span> / <span ng-bind="game.tip.number"></span></div>
				<div ng-if="game.tip.unlimited" class="tipRemain">Unlimited guesses</div>
				<md-button ng-disabled="game.team != data.player.team || !data.player.master || !CanPass()" ng-click="DecisionPass()" class="md-raised md-warn">Pass</md-button>
			</div>
		
			<!-- Master Tip -->
			<div class="tipBox team{{game.team}}" ng-show="data.player.master && game.team == data.player.team && game.stage == 'tip'" layout="column" layout-align="center center">
				<h3 layout="row" layout-align="center center"><div class="fa fa-envelope-o"></div><span>Master Tip</span></h3>
				<cn-tip game="game" callback="DecisionTip(param1)"></cn-tip>
			</div>
		</div>
		
		
		<div ng-if="data.debug" class="section" layout-gt-md="row" layout="column" layout-align="center center">
			<md-button ng-disabled="game.gameMode === undefined" ng-click="PlayerChangeSwapTeam();" class="md-raised md-accent">Change Team</md-button>
			<md-button ng-disabled="game.gameMode === undefined" ng-click="PlayerChangeSwapRole();" class="md-raised md-accent">Change Role</md-button>
			<md-button ng-click="GameRefresh();" class="md-raised md-warn">Refresh Game</md-button>
			<md-button ng-click="GameNewMatch();" class="md-raised md-warn">Rematch</md-button>
			<md-button ng-click="GameOverDialog();" class="md-raised md-warn">Game Over</md-button>
			<md-switch ng-model="data.forceShowGame" aria-label="Force Show">Force show game</md-switch>
		</div>
		
		<!-- Welcome -->
		<div class="section header">
			<div>Game created by <b>Vladimír Chvátil</b></div>
			<div>Online version created by <b>Bruno Massa</b></div>
		</div>
	</body>
	
	<!-- Angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-aria.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.min.js"></script>
	
	<!-- Libraires -->
	<script type="text/javascript" src="libs/qrcode.js"></script>
	<script type="text/javascript" src="libs/angular-qrcode-master/angular-qrcode.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.min.js"></script>
	
	<script type="text/javascript" src="codename.js"></script>
</html>