<div layout="row" layout-align="center center"><cn-team-badge team="1"></cn-team-badge>Team 1</div>
<div layout="row" layout-align="center center"><cn-team-badge team="2"></cn-team-badge>Team 2</div>
<div layout="row" layout-align="start center"><cn-team-badge team="0"></cn-team-badge>Neutral</div>
<div layout="row" layout-align="start center"><cn-team-badge team="3"></cn-team-badge>Spy</div>