<div class="player">
	<!--
	<div>Name: {{player.name}}</div>
	-->
	<span><cn-team-badge team="player.team"><div ng-show="player.master" class="fa fa-star"></div><div ng-show="!player.master" class="fa fa-user"></div></cn-team-badge></span>
	<!--
	<span ng-show="false && player.master">Master</span>
	<div ng-show="player.master" class="fa fa-star"></div>
	
	<span ng-show="false && !player.master">Operative</span>
	<div ng-show="!player.master" class="fa fa-user"></div>
	-->
</div>