<div layout="row">
	<md-input-container flex>
        <md-tooltip>ONE word hint</md-tooltip>
		<label>Tip</label>
		<input ng-model="tipData.tip" required>
	</md-input-container>
	<md-input-container flex>
        <md-tooltip>The number of words the hint address</md-tooltip>
		<label>Number</label>
		<input ng-model="tipData.number" type="number" min="{{game.tipMinimun}}" ng-disabled="tipData.unlimited" required>
	</md-input-container>
	<md-checkbox ng-model="tipData.unlimited" ng-show="game.allowUnlimitedTips">Unlimited</md-checkbox>
	<md-button ng-click="SendTip();" ng-disabled="tipData.tip === undefined || tipData.tip === '' || ((tipData.number === undefined || tipData.number < game.tipMinimun) && !tipData.unlimited)" class="md-primary md-raised">Tip</md-button>
</div>